{% extends "base.html" %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    
    {%block content %}
    <h1> Welcome </h1>
      {% if user.is_authenticated%}
      <p>Authenticated as 
        <pre>
          Name: {{user.first_name}} {{user.last_name}}
          Username: {{user.username}}
        </pre>
      {% else %}
      <p> You are not logged in.  <a href="{% url 'login' %}" class="btn btn-primary">Login</a></p>
      {% endif %}
    
    <h1>Flights</h1>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Average Price</th>
                <th>Average Duration</th>
            </tr>
        </thead>
        <tbody>
            {% for avg in averages %}
            <tr>
                <td>{{ avg.airline }}</td>
                <td>{{ avg.avg_price }}</td>
                <td>{{ avg.avg_duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

  
    {% endblock content %}
  </body>
</html>
